.settings__user-image {
  height: 23.8rem;
  width: 23.8rem;
  border-radius: 18rem;
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin : 0 auto;
  max-width: 70rem;
}