@import '../../../Variables.scss';

.custom-reset-button.MuiButton-contained {
  max-width: 13.7rem;
  font-size: 1.6rem;
  height: 5rem;
  background-color: $BLUE;
}

.custom-reset-button.MuiButton-outlined {
  border: 1px solid $GRAYTEXTCOLOR;
  background-color: $WHITE;
  border-radius: 1rem;
  color: $GRAYTEXTCOLOR;
  font-size: 1.6rem;
  max-height: 4.8rem;
  width: 10rem;
  margin-top: 0.7rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
