@import "../../Variables.scss";

.search-block {
  background-image: url('../../Assets/img/start-page-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 60px;
  width: 100vw;
  margin-left: calc(50% - 50.45vw);
}

.search-block__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 72px);
}

.search-block__heading {
  text-align: center;
  font-size: 40px;
  line-height: 120%;
  color: #ffffff;
  max-width: 773px;
}

.latest-block__heading-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.popular-block__heading-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}




