@import '../../../Variables.scss';

.custom-button.MuiButton-contained {
  width: 11rem;
  font-size: 1.6rem;
  height: 5rem;
  background-color: $BLUE;
}

.custom-button.MuiButton-outlined {
  border: 1px solid $BORDERGRAY;
  background-color: $WHITE;
  border-radius: 0.4rem;
  color: $GRAYLINKS;
  font-size: 1.6rem;
  width: 20rem;
}

.filter {
  margin-left: 1.2rem;
}

