@import '../../../Variables.scss';

.upload-button label {
  max-width: 20rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.6rem;
  font-family: 'Inter';
  color: $BLACK;
  padding: 1rem 2.2rem 1rem 2.2rem;
  border: 2px solid $BLACK;
  border-radius: 4px;
  background-color: $WHITE
}

.upload-img-wrapper {
  margin-right: 1.2rem;
}

.upload-button img {
  height: 2.4rem;
}

#upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
