@import '../../../Variables.scss';
.film-card__image {
  max-width: 17rem;
  border-radius: 4px;
}

.film-card__provider-image {
  max-width: 5.5rem;
  max-height: 5.5rem;
  border-radius: 4px;
  // margin-right: 1.2rem;
}


.movie-description__providers {
  
  // height: 100%;
}

.movie-card__medium {
  height: 30rem;
  width: 45%;
  padding: 1rem 2rem;
  overflow: visible !important;
}
.card-medium__wrapper {
  height: 100%;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: flex-start;

  .poster__wrapper {
    // height: 20rem;
    // height: 100%;
    width: 35%;
    min-width: 35%;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // overflow: hidden;
    .poster__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .movie-description-wrapper {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .movie-description__info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  .film-card__providers-wrapper {
    width: 80%;
    overflow-x: scroll;
    // padding-bottom: 1rem;
    &::-webkit-scrollbar {
      width: 3rem;
      height: 1rem;
    }
    
    &::-webkit-scrollbar-track {
      background-color: #BDBDBD;
      border-radius: 50px;
    }
    
    &::-webkit-scrollbar-thumb {
      border-radius: 100px;
      background-color: #2F80ED;
      box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
    }
    .card-scroll {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
}



@media (max-width: $SIZEADAPTIVE) {
  .movie-card__rating {
    display: none;
  }
  .movie-card__medium {
    height: 20rem;
    width: 100%;
    padding: 1rem 2rem;
  }
  .film-card__provider-image {
    width: 4rem;
    height: 4rem;
  }
  .card-medium__wrapper {
    padding: 0;

    .poster__wrapper {
      width: 12rem;
      height: 18rem;
      .poster__image {
        min-width: 10rem;
      }
    }
    .movie-description-wrapper {
      height: 100%;
      width: 70%;
    }
  }
}
@media (max-width: $SIZEADAPTIVEMOBILE) {
  .movie-card__rating {
    display: none;
  }
  .movie-card__medium {
    height: fit-content;
    width: 100%;
    padding: 1rem 2rem;
  }
  .film-card__provider-image {
    width: 4rem;
    height: 4rem;
  }
  .card-medium__wrapper {
    padding: 0;
    .poster__wrapper {
      height: auto;
      min-width: 8rem;
      .poster__image {
        height: auto;
        min-width: 8rem;
      }
    }
    .movie-description-wrapper {
      height: 100%;
      width: 70%;
    }
  }
}
