@import '../../../Variables.scss';

.film-card {
  text-decoration: none;
}

.film-card__title {
<<<<<<< HEAD
  font-size: 2rem;
=======
  font-size: 20px;
>>>>>>> cf286b3 (feat: add header layout plus start page)
  line-height: 120%;
  color: $GRAYLINKS;
  margin: 0;
}

.film-card__info {
<<<<<<< HEAD
  font-size: 1.2rem;
  line-height: 135%;
  color: #828282;
  margin: 0;
}
=======
  font-size: 12px;
  line-height: 135%;
  color: #828282;
  margin: 0;
}
>>>>>>> cf286b3 (feat: add header layout plus start page)
