@import '../../Variables.scss';

.search-page {
  padding: 2rem 5rem;
  font-family: 'Roboto', sans-serif;
}
.hidden {
  display: none;
}
.search-page__ui {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.search-page__filters {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.search-page__button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: $SIZEADAPTIVE) {
  .search-page {
    padding: 1rem 2rem;
  }
  .search-page__ui {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .search-page__drawer-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .search-page__drawer {
    width: 100%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .search-page__filters {
    flex-direction: column;
    align-items: flex-start;
  }
  .search-page__checkbox-filter {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .search-page__range-filter {
    width: 100%;
  }
  .search-page__button {
    margin-top: 1rem;
  }
}
