.search-features {
  display: flex;
  gap: 1rem;
}
.search-page {
  padding: 2rem 0 20rem;
  font-family: 'Roboto', sans-serif;
}
.hidden {
  display: none;
}
.search-page__filters {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
