.search-features {
  display: flex;
  gap: 1rem;
}
.search-page {
  padding: 2rem 0 20rem;
  font-family: 'Roboto', sans-serif;
}
.hidden {
  display: none;
}
.filters {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  //gap: 1rem;
}
