.swiper-button-next {
  top: 45%;
<<<<<<< HEAD
  background-image: url('../../../Assets/img/Swiper/swiper-next.svg');
=======
  background-image: url('../../../../public/img/swiper-next.svg');
>>>>>>> c42af84 (feat: add header layout plus start page)
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  top: 45%;
<<<<<<< HEAD
  background-image: url('../../../Assets/img/Swiper/swiper-prev.svg');
=======
  background-image: url('../../../../public/img/swiper-prev.svg');
>>>>>>> c42af84 (feat: add header layout plus start page)
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-prev::after {
  display: none;
}