.swiper-button-next {
  top: 45%;
  background-image: url('../../../Assets/img/Swiper/swiper-next.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  top: 45%;
  background-image: url('../../../Assets/img/Swiper/swiper-prev.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-prev::after {
  display: none;
}
