@import './Variables.scss';
.App {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem 5rem;
}

a {
  text-decoration: none;
}
@media (max-width: $SIZEADAPTIVE) {
  .App {
    padding: 1rem 2rem;
  }
}
