$GRAYTEXTCOLOR : #4F4F4F;
$GRAYTEXTBACKGROUND : #F2F2F2;
$GREENSUCCESS: #219653;
$WHITE: #ffffff;
$BLUELINK: #2F80ED;
$GRAYLINKS: #333333;
$LIGHTGRAY: #BDBDBD;
$BORDERGRAY: #E0E0E0;
$BLUE: #2F80ED;



