$GRAYTEXTCOLOR: #4f4f4f;
$GRAYTEXTBACKGROUND: #f2f2f2;
$GREENSUCCESS: #219653;
$WHITE: #ffffff;
$BLUELINK: #2f80ed;
$GRAYLINKS: #333333;
$LIGHTGRAY: #bdbdbd;
$BORDERGRAY: #e0e0e0;
$BLUE: #2f80ed;
$BLACK: #000000;

$SIZEADAPTIVE: 768px;
$SIZEADAPTIVEMOBILE: 520px;
