@import '../Variables.scss';

.navlink {
  text-decoration: none;
  font-size: 1.6rem;
  color: $GRAYLINKS;
}

.navlink.active {
  color: $BLUELINK;
}

.MuiAppBar-root {
  background-color: aliceblue;
}

.MuiAppBar-colorDefault {
  background-color: $WHITE;
}
@media (max-width: $SIZEADAPTIVE) {
  .search-field__hidden {
    display: none;
  }
}
